    @font-face {
        src: url("../fonts/Arimo-Regular.ttf");
        font-family: Arimo-Regular;
    }
    
    @font-face {
        src: url("../fonts/Arimo-Bold.ttf");
        font-family: Arimo-Bold;
    }